.tabs {
  display: flex;
  justify-content: center;
  position: relative;

  &-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80vw;
    margin: auto;
    margin-top: 5vh;
    @media (min-width: 768px) {
      width: 50vw;
    }
  }
  &-button {
    width: 50%;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    &.inactive {
      box-sizing: border-box;
      box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.1);
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    }
  }
}

.tab {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease-in-out;

  &-content {
    padding: 1.5rem;
    text-align: center;
  }

  &-panel {
    display: none;
    &.active {
      display: block;
    }
  }
}

