.section {
  &-title {
    line-height: 1.1;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &0 {
    color: lightgray;
  }
  &-tasks {
    padding: 0 0.5rem;
  }
  &-task {
    padding-left: 0.3rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;

    &-contacts {
      display: flex;
      gap: 0.2rem;
      padding-left: 0;
    }

    &-add {
      color: lightgray;
      :focus-within {
        color: black;
      }
    }
  }
  &-update {
    display: block;
    text-align: right;
    font-style: italic;
    font-size: 0.8em;
    color: lightgray;
    margin-top: 0.5rem;
  }
}

.input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkbox-icon {
  cursor: pointer;
  flex-shrink: 0;
}
