.section {
  &-title {
    line-height: 1.1;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
  }
  &0 {
    color: lightgray;
  }
  &-tasks {
    padding: 0 0.5rem;
  }
  &-task {
    list-style: none;
    padding-left: 0.3rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;

    &-add {
      color: lightgray;
      :focus-within {
        color: black;
      }
    }
  }
  &-update {
    display: block;
    text-align: right;
    font-style: italic;
    font-size: 0.8em;
    color: lightgray;
    margin-top: 0.5rem;
  }
}

.editable-element:hover {
  background-color: rgba(0, 0, 0, 0.1);
  & .delete-icon {
    display: block;
  }
}

.delete-icon {
  display: none;
  margin-right: 0.3rem;
  cursor: pointer;
}

.input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
}
