.section {
  &-title {
    line-height: 1.1;
    margin-bottom: 0.5rem;
  }
  &0 {
    color: lightgray;
  }
  &-tasks {
    padding: 0 0.5rem;
  }
  &-task {
    list-style: none;
    padding-left: 0.3rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    &-item:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &-add {
      color: lightgray;
    }
    &-input {
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
    }
  }
}

