.tabs {
  &-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80vw;
    margin: auto;
    margin-top: 5vh;
    @media (min-width: 768px) {
      width: 50vw;
    }
  }

  &-header {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &-content {
    padding: 1rem;
    text-align: center;
  }
}

.tab {
  &-header {
    cursor: pointer;
    width: 50%;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    &.inactive {
      box-sizing: border-box;
      box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.1),
        inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    }
  }

  &-panel {
    display: none;
    &.active {
      display: block;
    }
    &-mandatory-fields {
      font-style: italic;
      font-size: 0.7em;
    }
    &-messages {
      padding-left: 0;
      margin-top: 1rem;
    }
    &-message {
      margin: 0.3rem auto 0;
      padding: 0.3rem 0.5rem;
      width: max-content;
      background-color: rgba(240, 128, 128, 0.418);
      color: rgb(192, 2, 2);
      border-radius: 8px;
      font-size: 0.8rem;
    }
    &-button {
      margin-top: 1rem;
    }
  }
}
